body {
    background: linear-gradient(to bottom, #e0c097, #f1e3c3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h2{
    font-size: 2em;
    text-align: center;
    color: red;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

form{
    margin: auto;
    width: 30%;
    border: 5px solid red;
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px;
    radius: 20px;
}

label {
    display: block;
    font-size: 14px;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #cc0000;
}